.btn {
    &:link,
    &:visited {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        transition: all 0.2s;
    }

    &::after {
        content: "";
        /* display: inline-block; */
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    /* 鼠标悬浮,向上移动3px */
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 1rem $color-black;
        &::after {
            transform: scale(1.5);
            /* 透明度 */
            opacity: 0;
        }
    }

    /* 活跃状态，鼠标点击时，这里的transform是相对于最初的位置的，不管之前有没有变换 */
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem $color-black;
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
        &::after {
            background-color: $color-white;
        }
    }

    &--animated {
        animation: moveInBottom 0.5s ease-in-out 0.5s;
        /* 控制动画在开始之前会应用动画的初始状态，
    一开始opacity为0, 动画结束后opacity为1 , 
    button按钮从透明到不透明*/
        animation-fill-mode: backwards;
    }
}